p
{
    color: green;
}

#titol
{
text-decoration: underline;
font-size: 32px;
}

.text-important 
{
    color: red;
    font-weight: bold;
}

.vermell
{
  color: red;
}

.gran
{
    font-size: 24px;
}

.negreta
{
    font-weight: bold;
}

.subratllat
{
    text-decoration: underline;
}

a:hover
{
    color:yellow;
    cursor: pointer;
}

p::before
{
    content:"➜" ;
    color: blue;
}
p::after
{
    content:"✔" ;
    color: green;
}